<!-- Wappler include head-page="layouts/main" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="about" appConnect="local" -->
<meta name="ac:route" content="/about">
<div class="container">
    <div class="row">
        <div class="col">
            <h1>About Us</h1>
        </div>
    </div>
</div>